/*Layout*/

body{
	font-family: Helvetica, Arial, sans-serif;
	color:#000;
	font-size: 12px;
}

h1{
	font-size: 20px;
	font-weight: bold;
}

h4{
	font-size: 14px;
	font-weight: 400;
}

/*Core Carrousel Function*/

#slide-show {
	overflow:hidden;
	position:relative;
	height:683px; width:100%;
	min-height:340px; min-width:650px;
}
	  
#slide-image{position:relative;}
	  
#slide-image>div{
	position:absolute;
	top:0; left:0;
	width:100%;
}

#slide-caption>div{
	position:absolute;
	top:0; left:0;
	width:100%;
	height:100%;
}

#slide-image>div img, video{
	width:100%;
	min-width:650px;
	z-index:1;
}

/*End of Core Carrousel Function*/


/* Custom Carrousel Function*/


/* Custom Arrow Buttons*/
.slide-button{
	cursor:pointer;
	background:#FFF;
	height:45px; width:45px;
	overflow:hidden;
	position:absolute;
	top:45%; 
	z-index:3;
}

.slide-next   {right:0;}
.slide-prev   {left:0;}

.arrow{height:45px; width:45px;}

.slide-next .arrow  {background:url(images/arrow_right.png) #000 no-repeat 15px 14px;}
.slide-prev .arrow  {background:url(images/arrow_left.png) #000 no-repeat 14px 14px;}

.slide-next .arrow:hover {background:url(images/arrow_right.png) #333 no-repeat 15px 14px;}
.slide-prev .arrow:hover  {background:url(images/arrow_left.png) #333 no-repeat 14px 14px;}

/* End of Custom Arrow Buttons*/

/* Custom Text on Slides*/
.caption-wrapper{
	background: rgba(0,0,0,0.5);
	color: #fff;
	padding: 10px;
	position:absolute;
	z-index: 2;
}
	  
#caption-0{top:30%;   right:9%; width:390px;}
#caption-1{top:12%;   left:39%; width:470px;}
#caption-2{bottom:15%;right:7%; width:430px;}
#caption-3{bottom:13%; left:10%; width:510px;}
#caption-4{bottom:5%; left:5.8%; width:700px;}

#caption-2 h4 {width:400px;}

/* End of Custom Text on Slides*/

/* End of Custom Carrousel Function*/
